h1 {
	font-size: clamp(2.3em, 6vw, 6em);
	margin-top: 10px;
}

h1:first-letter, h2:first-letter {
	text-transform: capitalize;
}

h1 + h2 {
	margin-top: 30px;
}

h1, h2 {
	line-height: 1.2;
	font-family: "trebuchet ms", sans-serif;
	letter-spacing: 0.03em;
}

h2 {
	font-size: clamp(1.2em, 2vw, 3em);
}

em {
	font-style:  italic;
}

.customer-cta em {
	display: inline-block;
}

strong {
	font-weight:  bolder;
}

p {
	margin-top: 5px;
}

/*sections*/
inner-column {
	display:  block;
}

inner-column, .results {
	max-width: 600px;
	margin-right: auto;
	margin-left:  auto;
	line-height: 1.5;
	padding:  10px;
	letter-spacing: 0.02em;
}

main {

}

/*form*/
form label {
	display:  block;
}

form label > input {
	min-width: 15%;
}

form {
	line-height: 2;
	margin-top: 10px;
}

form * {
	margin-top: 5px;
}

label :focus {
	outline:  2px double gold;
}


/*user messages*/
.error-theme {
	border:  2px double red;
}

.success-theme {
	border:  3px double green;
	padding:  5px;
}

.passed-field {
	color:  green;
}

.failed-field {
	color:  red;
}

/*results area*/
.results {
	margin-top: 20px;
}


